


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="birthdays" data-view="Birthdays" data-title="Birthdays and Workiversaries"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="4" data-sizey="1">
      <div data-id="announcements" data-view="Announcements" data-title="Announcements" ></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="stock" data-view="Stock" data-title="WDAY Stock" data-prefix="$" data-currency="USD "></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patch_stocks" data-view="Schedule" data-title="Patch" data-unordered="true" data-prefix="$" ></div>
    </li>

  </ul>
</div>
